.description {
  white-space: pre-wrap;
  font-size: 16px;
}

.alert-success {
  margin-top: 10px;
  padding: 10px;
}

.btn-quit {
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.btn-sendnow {
	position: absolute;
	left: 15px;
	bottom: 15px;
}
